<ion-header>
  <ion-toolbar color= "secondary">
    <ion-title>
      Jatwal Matkul
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">

  <ion-card color="light">

  <ion-item>
  <ion-icon name="calendar"></ion-icon>
  Rabu/30/10/2019 Jam 09:20 
  <ion-tab-button tab="tab8" expand="next">
  <ion-button expand="next"  fill="outline">lihat Meteri</ion-button>
 </ion-tab-button>
  </ion-item>

  <ion-card-content class="textjustify">
    <ion-item color="light">
      <img src="/assets/2.jpg" style="border: 1px solid #000000; border-radius: 30%; width: 60px;height:50px;"/>
      <ion-label>Dosen : Irmayansyah, S.Kom, M.Kom <br> Mata Kuliah: ISMA <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
       </ion-label>
  </ion-item>
  </ion-card-content>
  </ion-card>

<ion-card color="light">

  <ion-item>
  <ion-icon name="calendar"></ion-icon>
  Rabu/30/10/2019 Jam 02:00
  <ion-tab-button tab="tab7" expand="next">
  <ion-button expand="next"  fill="outline">lihat Meteri</ion-button>
 </ion-tab-button>
  </ion-item>

  <ion-card-content class="textjustify">
    <ion-item color="light">
      <img src="/assets/1.jpg" style="border: 1px solid #000000; border-radius: 30%; width: 60px;height:50px;"/>
      <ion-label>Dosen : Anggra Triawan, S.Kom, M.Kom <br> Mata Kuliah: PL2 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span> </ion-label>
  </ion-item>
  </ion-card-content>
  </ion-card>
</ion-content>
