<ion-header>
    <ion-toolbar color= "secondary">
      <br>
      <img class="imgcenter" src="/assets/stikom.png" style="border: 1px solid #04d9ff; border-radius: 80%; width: 130px;height:80px;"/>
    </ion-toolbar>
  </ion-header>
        
  <ion-content>
  <ion-card>
    <ion-card-header>
      <!-- MAIN (Center website) -->
  <div class="main">
  
      <h3>Tentang Ruangguru</h3>
      <hr>
      <!-- Portfolio Gallery Grid -->
      <div class="content">
          <img class="imgcenter" src="/assets/a.jpg" style="border: 1px solid #04d9ff00; border-radius: 40%; width: 330px;height:220px;"/>
          <h2>Ruangguru bukan hanya hadir sebagai sebuah bisnis, tetapi juga kami bertujuan untuk meningkatkan kualitas guru dengan menciptakan lapangan pekerjaan dan tambahan penghasilan bagi guru di Indonesia. Ruangguru percaya, dengan meningkatnya kualitas guru, maka mutu pendidikan di Indonesia juga akan menjadi lebih baik.
  
              Ruangguru juga percaya bahwa teknologi dapat membantu siswa, guru, dan orang tua untuk menjalankan aktivitasnya menjadi lebih efektif dan efisien. Untuk itu, kami bertekad untuk terus mengembangkan layanan-layanan lainnya serta berkolaborasi dengan berbagai pihak guna mencapai tujuan ini.</h2>
        </div>
      <div class="row">
        <div class="column">
          <div class="content">
              <img class="imgcenter" src="/assets/b.png" style="border: 1px solid #04d9ff00; border-radius: 60%; width: 170px;height:90px;"/>
            
            <p>Lorem ipsum..</p>
          </div>
        </div>
        <div class="column">
          <div class="content">
              <img class="imgcenter" src="/assets/c.png" style="border: 1px solid #04d9ff00; border-radius: 60%; width: 170px;height:90px;"/>
            
            <p>Program Pelatihan Menulis..</p>
          </div>
        </div>
        <div class="column">
          <div class="content">
              <img class="imgcenter" src="/assets/d.png" style="border: 1px solid #04d9ff00; border-radius: 60%; width: 170px;height:90px;"/>
            
            <p>Sosialisasi Program IKM ..</p>
          </div>
        </div>
        <div class="column">
          <div class="content">
              <img class="imgcenter" src="/assets/e.png" style="border: 1px solid #04d9ff00; border-radius: 60%; width: 170px;height:90px;"/>
  
            <p>Persaingan Ketat Seleksi..</p>
          </div>
        </div>
      </div>
      <!-- END MAIN -->
      </div>
    </ion-card-header>
  
    <!-- <ion-card-content>
      ALAMA
    </ion-card-content> -->
  </ion-card>
  
  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Alamat </ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  
    <ion-card-content>
    Jl. Mayor Oking Jayaatmaja Depan Stasiun KA No.27, RT.04/RW.06, Gn. Putri, Kec. Gn. Putri, Bogor, Jawa Barat 1612
    </ion-card-content>
  </ion-card>
  </ion-content>
  <!-- Load font awesome icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <!-- The social media icon bar -->
  
  <div class="icon-bar">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
    <a href="https://www.facebook.com/ruanggurucom/" class="facebook"><i class="fa fa-facebook"></i></a>
    <a href="https://www.instagram.com/ruangguru/?hl=id" class="instagram"><i class="fa fa-instagram"></i></a>
    <a href="https://www.youtube.com/channel/UCbc1RY0McnikiEMD8Box5Ig" class="youtube"><i class="fa fa-youtube"></i></a>
  </div>
  