<ion-header>
  <ion-toolbar color= "secondary">
    <ion-title>
      Jatwal Event
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">

  <ion-card color="light">

  <ion-item>
  <ion-icon name="calendar"></ion-icon>
  <ion-datetime displayFormat="MM/DD/YYYY" min="1994-10-14" max="2019-12-14" value="2019-09-23T15:09:00.789"
  ></ion-datetime>
  </ion-item>

  <ion-card-content class="textjustify">
    <ion-item color="light">
      <img src="/assets/c.jpg" style="width: 50px;height: 50px">
      <ion-label>Event : Opening <br> Ruangguru | Bimbel Online No 1 on Twitter: "RUANGGURU FESTIVAL, SERENTAK DI 10 TV NASIONAL </ion-label>
  </ion-item>
  </ion-card-content>
  </ion-card>

<ion-card color="light">

  <ion-item>
  <ion-icon name="calendar"></ion-icon>
  <ion-datetime displayFormat="MM/DD/YYYY" min="1994-03-14" max="2019-12-09" value="2019-09-23T15:03:46.789"
  ></ion-datetime>
  </ion-item>

  <ion-card-content class="textjustify">
    <ion-item color="light">
      <img src="/assets/d.jpg" style="width: 50px;height: 50px">
      <ion-label>Event : Opening <br> Ruangguru | Bimbel Online No 1 on Twitter: "Ruangguru Festival merupakan salah satu rangkaian dari #Ruangguru5Tahun </ion-label>
  </ion-item>
  </ion-card-content>
  </ion-card>
</ion-content>
